.nav-bar {
  width: 100%;
  height: 7rem;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(2rem, 4vw, 6rem);
  backdrop-filter: blur(10px);
  background-color: var(--primarybackground);
  z-index: 1000;
}
.nav-item {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 5.4rem;
}

.nav-item a {
  color: var(--typography);
  position: relative;
  font-size: 1.7rem;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
}
.nav-link.nav-active {
  color: rgb(0, 0, 0);
}
.nav-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--typography);
  left: 0;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.nav-item a:hover::after {
  transform: scaleX(1);
}
.nav-link.nav-active::after {
  transform: scaleX(1);
}

.nav-item a:hover {
  color: black;
  transition: all 0.3s ease;
}
.nav-bar button {
  padding: 1.1rem 2rem;
  border-radius: 12px;
  color: var(--button-color);
  background-color: var(--button-background);
  border-style: none;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
.close,
.ham {
  display: none;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 250px;
    height: 250px;
  }
  .nav-item {
    gap: 4rem;
  }
  .nav-item a {
    font-size: medium;
  }
  .nav-bar button {
    padding: 1rem 1.5rem;
  }

  .nav-bar .logo {
    width: 10rem;
    height: 7rem;
  }
}
@media (max-width: 426px) {
  html {
    font-size: 50%;
  }
  .card,
  .second-card {
    min-width: 32rem;
  }

  .right-sidelogo button {
    width: 10rem;
    height: 3rem;
  }

  .nav-bar .logo {
    width: 10rem;
    height: 7rem;
  }
  .text {
    margin-top: 2rem;
  }
}
/* for mobile */
@media (max-width: 660px) {
  .nav-items {
    position: fixed;
    top: 0;
    right: -26rem;
    background-color: #aeaaaa;
    backdrop-filter: blur(1rem);
    height: 100vh;
    width: 25rem;
    transition: right 0.5s ease;
    z-index: 1000;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.1);
    align-items: flex-start;
  }

  .nav-items.active {
    right: 0;
  }
  .nav-item {
    flex-direction: column;
    margin-top: 8rem;
    width: 100%;
  }

  .nav-item li {
    width: 100%;
    text-align: center;
  }

  .nav-item li:hover {
    background-color: #858181;
  }

  .nav-item a {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
  }

  .ham {
    display: block;
    cursor: pointer;
  }

  .close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 2rem;
  }
}