:root {
  --primarybackground: #efe9e3;
  --secondaryElement: rgb(210, 180, 140);
  --natural: #708238;
  --typography: #332323;
  --button-background: #c9b59c;
  --button-color: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--primarybackground);
  color: var(--typography);
}

.nav-bar {
  width: 100%;
  height: 8rem;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(2rem, 4vw, 6rem);
  backdrop-filter: blur(10px);
  background-color: var(--primarybackground);
  z-index: 1000;
}

.nav-items {
  margin-right: 0;
  margin-left: 0;
}

.nav-item {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 5.4rem;
}

.nav-item a {
  color: var(--typography);
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}

.nav-item a:hover {
  color: black;
}
.nav-item a:focus {
  color: black;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--typography);
  text-decoration-thickness: 2px;
}

.nav-bar button {
  padding: 1.1rem 2rem;
  border-radius: 12px;
  color: var(--button-color);
  background-color: var(--button-background);
  border-style: none;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
section {
  /* min-height: 100vh; */
  scroll-margin-top: 8rem;
}
#section-1 {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 8rem);
  padding: clamp(2rem, 6vw, 6rem);
}
.text {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 7rem 0;
  gap: 3rem;
}

.hero-text {
  font-size: clamp(4rem, 6vw, 7rem);
  font-weight: 900;
  line-height: 1.1;
  font-family: "Inria Serif", serif;
  color: var(--typography);
  text-align: center;
  animation: fadeup 1s ease-out forwards;


}
.sub-text {
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-weight: 500;
  color: var(--typography);
  text-align: center;
  animation: fadeup 1s ease-out forwards;
}
.shop-now {
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--button-background);
  font-size: medium;
  font-weight: bold;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  animation: fadeup 1s ease-out forwards;
}
.images {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  animation: imagefadein 1s ease-out forwards;

}
.image {
  filter: drop-shadow(-4rem 0.8rem 0.7rem rgba(0, 0, 0, 0.5));
  width: 440px;
  max-width: 800px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
/* 
@keyframes fadeOutOnScroll {
  from {
    opacity: 1;
    transform:  scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9); 
  }
} */

@keyframes imagefadein {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
  
}

.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.5rem);
  z-index: 2000;
}

.hidden {
  display: grid;
  animation: fadeIn 1s forwards;
}
.scrolled {
  background-color: #fbfafa45;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card,
.second-card {
  grid-area: 1 / 1;
  display: none;
  flex-direction: column;
  max-width: 42rem;
  min-width: 33rem;
  margin: auto;
  background: #fbfafa;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
}

.show {
  display: flex;
  animation: fadeIn 1s forwards;
}

.card form {
  display: flex;
  flex-direction: column;
}

form .input {
  width: 100%;
  padding: 1.4rem;
  margin-bottom: 1.5rem;
  border-radius: 0.6rem;
  border: 0.1rem solid #ccc;
  font-size: 1.4rem;
}

form .input:focus {
  outline: none;
  border-color: #0e3ecd;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.card button {
  width: 100%;
  padding: 1.4rem;
  background: var(--button-background);
  color: var(--typography);
  border: none;
  font-weight: 800;
  border-radius: 0.6rem;
  font-size: large;
  cursor: pointer;
}

.second-login {
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--button-background);
  font-size: medium;
  font-weight: bold;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: large;
}

.login-text {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

button:hover {
  background: #b69f83;
}

.close,
.ham {
  display: none;
}

/* for mobile */

@media (max-width: 426px) {
  html {
    font-size: 50%;
  }
  .card,
  .second-card {
    min-width: 32rem;
  }

  .right-sidelogo button {
    width: 10rem;
    height: 3rem;
  }

  .nav-bar .logo {
    width: 10rem;
    height: 7rem;
  }
}

@media (max-width: 660px) {
  .nav-items {
    position: fixed;
    top: 0;
    right: -26rem;
    background-color: #aeaaaa;
    backdrop-filter: blur(1rem);
    height: 100vh;
    width: 25rem;
    transition: right 0.5s ease;
    z-index: 1000;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.1);
    align-items: flex-start;
  }

  .nav-items.active {
    right: 0;
  }
  .nav-item {
    flex-direction: column;
    margin-top: 8rem;
    width: 100%;
  }

  .nav-item li {
    width: 100%;
    text-align: center;
  }

  .nav-item li:hover {
    background-color: #858181;
  }

  .nav-item a {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
  }

  .ham {
    display: block;
    cursor: pointer;
  }

  .close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 2rem;
  }
}

.menu-section {
  padding: 8rem clamp(2rem, 6vw, 6rem);
}

.menu-header {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto 6rem auto;
}

.menu-header h2 {
  font-size: clamp(3rem, 5vw, 4.8rem);
  color: var(--typography);
  margin-bottom: 2rem;
}

.menu-header p {
  font-size: 1.6rem;
  line-height: 1.7;
  opacity: 0.8;
}
.menu-carousel {
  position: relative;
  overflow-x: auto;
  display: flex;
  position: relative;
  margin: 50px auto;
  width: 90%;
  padding: 1rem 0 0 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
.menu-carousel:has(.menu-card:hover) .menu-flex {
  animation-play-state: paused;
}
.menu-flex {
  display: flex;
  animation: menuCardAnimation 7s linear infinite;
  justify-content: center;
  gap: 3rem;
  padding-right: 3rem;
}

.menu-card {
  background: #fbfafa45;
  padding: 3rem;
  max-width: 300px;
  min-width: 300px;
  border-radius: 14px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.06);
}
.Menu-photo {
  width: 200px;
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.menu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 22px 45px rgba(0, 0, 0, 0.08);
}

@keyframes menuCardAnimation {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@media (max-width: 660px) {
  .menu-carousel {
    width: 100%;
    padding: 1rem;
  }
  .menu-flex {
    gap: 1.5rem;
    padding-right: 1.5rem;
  }
  .menu-card {
    max-width: 250px;
    min-width: 250px;
    padding: 2rem;
  }
}

.menu-info {
  text-align: center;
}
.menu-info h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.menu-info p {
  font-size: 1.4rem;
  opacity: 0.7;
  padding-bottom: 1.5rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--natural);
}
.menu-more-section {
  display: flex;
  justify-content: center;
}
.menu-more-section a {
  text-decoration: none;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: 900;
  color: var(--typography);
  padding: 1.1rem 2rem;
  border-radius: 12px;
  background-color: var(--button-background);
  border-style: none;
  transition: transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
.shop-more-section a:hover {
  transform: scale(1.05);
}
footer {
  background-color: #3e3133c9;
  padding: 2rem;
  text-align: center;
  color: white;
}
footer p {
  font-size: 1.8rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 5.5rem;
  right: 2rem;
  color: var(--typography);
  border: none;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.scroll-to-top img {
  width: 20px;
  height: 20px;
}
